.container-title {
    display: flex;
    align-items: center;
    gap: 2%;
}

.container-title i:hover {
    color: red;
}

.container-title img {
    width: 50px;
}

.posts {
    height: 100vh;
    background-color: red;
}